{% extends "layout.html" %}
{% block content %}
<div class="about">
<h6>  MOTWAKKEL ABDULDAFE ABDULRHMAN </h6>
<img src="{{ url_for('static', filename='mypic.jpg') }} " alt="mypic">
<p class='des' >
  iam an electrical engineering student and an ambicious programmer , i do coding with python , javascript , C , iam also intersted in
  cyber security field , malware analysis and pentesting , hope you like the site , to have a clone of the source code
<a>get a CLONE</a>
</p>


</div>
{% endblock %}
